<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <h1>Hello World</h1>
    <p>
      I Use EJS
    </p>
    <a href="/page?title=page1">Page1</a>
    <a href="/page?title=page2">Page2</a>
  </body>
</html>
